<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Component</title>
</head>

<body>
  {% block body %}
  {% endblock %}

  <script src="./build.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script type="text/javascript">
  angular.module('app', [])
    .directive('component', function () {
      return {
        restrict: 'AE',
        template: '<p>Hello Component!</p>'
      };
    }).directive('componentA', function () {
      return {
        restrict: 'AE',
        template: '<p>Hello Component B!</p>'
      };
    });
  </script>
</body>

</html>
